{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}
Eriwan - add joke page!
{% endblock%}
{% block content %}
{{super()}}
<div class="container">
    <div class="text-center">
        <h1>Добавление анекдотов</h1>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
            <span>{{ message }}</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    {{ wtf.quick_form(form) }}
</div>
{% endblock%}
