{% extends 'bootstrap/base.html' %}

{% block title %}
{% if title %}{{ title }} - Eriwan{% else %}Eriwan Radio{% endif %}
{% endblock %}
{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('index') }}">Главная</a></li>
                <li><a href="{{ url_for('add_joke_template') }}">Добавить шутку</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {# {% if current_user.is_anonymous %}
                <li><a href="{{ url_for('login') }}">Войти</a></li>
                {% else %}
                <li><a href="{{ url_for('logout') }}">Выйти</a></li>
                {% endif %} #}
            </ul>
        </div>
    </div>
</nav>
{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li class="alert alert-danger" role="alert">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% endblock %}
{% block footer %}
{% endblock %}
