<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    {% if title %}
        <title>{{ title }} - Eriwan</title>
    {% else %}
        <title>Eriwan</title>
    {% endif %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% block js %}

    {% endblock %}
</head>
<body>
{% block menu %}

{% endblock %}
<nav class="nav">
  <a class="nav-link active" href="#">Eriwan</a>
  {% if current_user.is_anonymous %}
        <a class="nav-link" href="{{ url_for('login') }}">Login</a>
        <a class="nav-link" href="{{ url_for('register') }}">Registration</a>
    {% else %}
        <a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
        <a href="{{ url_for('logout') }}">Log out</a>
    {% endif %}
</nav>
<div>
</div>
<hr>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li class="alert alert-danger" role="alert">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
{% block content %}

{% endblock %}
{% block footer %}

{% endblock %}
</body>
</html>