{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="text-center">
            <p>Профиль пользователя: <b>{{ user.username }}{% if user.is_admin %}
                ✓ Администратор
            {% endif %}</b></p>
        </div>
        <div class="center-block">
            {% if user.is_admin %}
                <p><b>Шутки пользователя:</b></p>
                {% for joke in joks %}
                    {% include 'parts/joke.html' %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}